---
layout: archive
title: "Outreach & Media"
permalink: /outreach/
author_profile: true
---

{% include base_path %}

I enjoy outreach and have collected here some of my efforts at sharing science with the broader public: writing, interviews, and a voice over for a documentary film.

<ul>
  <li>I wrote an <a href="https://rgorrison.github.io/files/2021%20November%20Slate%20Final.pdf#page=3" target="_blank">article</a> about public power for my local co-op newsletter</li>
  <li>I helped write an <a href="https://rgorrison.github.io/files/Solidarity%20Notes%20-%20May%202021.pdf#page=6" target="_blank">article</a> for a local Solidarity Committee (labor-affiliated organization) newsletter</li>
  <li>I was interviewed for a <a href="https://www.ipp-journal.org/blog/science-for-the-people" target="_blank">blog post</a> for the Journal of Interdisciplinary Public Policy for my work with Science for the People</li>
  <li>I was interviewed for an <a href="https://www.youtube.com/watch?v=Ig11YJYUjYk" target="_blank">episode</a> of the 'Love and Rage' New York City Extinction Rebellion Podcast</li>
  <p align='center'>
    <iframe width="320" height="240" src="https://www.youtube.com/embed/Ig11YJYUjYk?start=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <p>
  <li>I helped plan and host a rally in Albany, NY to call for democratic ownership and control of energy generation.
  <p align='center'>
    <table> 
	<tr> 
		<td align="center"><img src="/images/bpraRally_Albany_June2021_1.jpeg" alt='People marching and carrying a banner' style=max-height:200px></td> 
		<td align="center"><img src="/images/bpraRally_Albany_June2021_2.JPG" alt='Rebecca speaking at a rally' style=max-height:200px></td> 
	</tr> 
    </table>
  <p>
  <li>I hosted a workshop in Albany, NY entitled "Climate Change and Justice: Reimagining Food Systems"
  <p align='center'>
    <table> 
	<tr> 
		<td align="center"><img src="/images/orrison_outreach2019.JPG" alt='Rebecca speaking at an outreach event' style=max-height:200px></td> 
		<td align="center"><img src="/images/sftpAlbany_commforum_5.JPG" alt='Crowd gathered at an outreach event' style=max-height:200px></td> 
	    </tr> 
    </table>
  <p>
  <li>I was arrested in front of the New York State Comptroller's office during a protest calling for divestment of the New York State pension from fossil fuels. Comptroller DiNapoli has since signaled a commitment to move toward divestment in a <a href='https://www.osc.state.ny.us/press/releases/2021/04/dinapoli-moves-state-pension-fund-toward-net-zero-target-restricts-investments-oil-sands-companies' target="_blank">press release</a>.
  <p align='center'>
    <table> 
	<tr> 
		<td align="center"><img src="/images/XR_arrest3.JPG" alt='Group of activists risking arrest' style=max-height:200px></td> 
		<td align="center"><img src="/images/XR_arrest5.JPG" alt='Rebecca being arrested' style=max-height:200px></td> 
		<td align="center"><img src="/images/XR_arrest6.JPG" alt='Rebecca being led away under arrest' style=max-height:200px></td> 
	</tr> 
    </table>
  <p>
  <li>I had the opportunity to help translate and record the English narration for <a href='https://chasingtracespast.wixsite.com/chasingtracespast' target="_blank">"Chasing Traces;"</a> a beautiful and educational documentary and about paleoclimatology and how proxies in nature can be used to improve our understanding of past changes in the Earth's climate. 
  <p align='center'>
    <iframe width="88.875" height="50" src="https://www.youtube.com/embed/xztoAxSBpuo?start=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<i>Full movie in English</i> 
    <br>
	  
    <br>
    <iframe width="88.875" height="50" src="https://www.youtube.com/embed/1-Oxf21s7jg?start=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<i>Trailer in Spanish</i> 
  <p>	  	  
</ul>

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
