---
layout: archive
title: "The past is the key to the future.."
permalink: /research/
author_profile: true
---

{% include base_path %}

<a href="https://www.nature.com/articles/35053245" target="_blank" title="Alley, R. The key to the past?. Nature 409, 289 (2001)">Richard Alley said</a> "Rates and even dominant processes may change, but the underlying order of physics, chemistry, and biology remain." It makes me wonder - what if the processes <i>themselves</i> change?


I study the variability of the global climate system, and the sensitivity of the climate system to internal and external forcings. I study this by looking at a combination of paleoclimate evidence and Earth system models to study how dynamical processes interact across temporal and spatial scales. Through better understanding variability of the past we can better constrain uncertainties in climate projections and inform adaptation to future climate change.  
<p></p>
<h1>Projects</h1> 

{% for post in site.research reversed %}
  {% include archive-single.html %}
{% endfor %}
