---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

I study the variability of the global climate system, and the sensitivity of the climate system to internal and external forcings. I study this by looking at a combination of paleoclimate evidence and Earth system models to study how dynamical processes interact across temporal and spatial scales. Through better understanding variability of the past we can better constrain uncertainties in climate projections and inform adaptation to future climate change.

{% include base_path %}

{% for post in site.research reversed %}
  {% include archive-single.html %}
{% endfor %}
